# Build artifacts
/build/
/out/
/bin/
/obj/
/CMakeFiles/
/CMakeCache.txt
/Makefile
/cmake_install.cmake
compile_commands.json
.cache


*.spv

*.log
*.tmp
*.bak

*.sh
*.ini


# Linux
*.so
*.a
*.out
*.o
