[submodule "lib/vma"]
	path = lib/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "lib/volk"]
	path = lib/volk
	url = https://github.com/zeux/volk
[submodule "lib/vk-bootstrap"]
	path = lib/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui
[submodule "lib/fastgltf"]
	path = lib/fastgltf
	url = https://github.com/spnda/fastgltf
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb
[submodule "lib/slang"]
	path = lib/slang
	url = https://github.com/shader-slang/slang.git
