# Build artifacts
/build/
/out/
/bin/
/obj/
/CMakeFiles/
/CMakeCache.txt
/Makefile
/cmake_install.cmake
compile_commands.json

.cache

# Linux
*.so
*.a
*.out
*.o

# Vulkan shader binaries
*.spv

# Logs and temporary files
*.log
*.tmp
*.bak
