[submodule "extern/vma"]
	path = extern/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "extern/volk"]
	path = extern/volk
	url = https://github.com/zeux/volk
[submodule "extern/vk-bootstrap"]
	path = extern/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "extern/fastgltf"]
	path = extern/fastgltf
	url = https://github.com/spnda/fastgltf
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui
[submodule "extern/stb"]
	path = extern/stb
	url = https://github.com/nothings/stb
